services:

    app:
        image: ${APP_IMAGE}
        container_name: agentic_rag_container
        build:
            context: .
            dockerfile: Dockerfile.Base
        ports:
        - "${APP_PORT}:8000"
        environment:
            API_KEY: ${API_KEY}
            BASE_URL: ${BASE_URL}
            GENERATION_MODEL: ${GENERATION_MODEL}
            SQL_GENERATION_MODEL: ${SQL_GENERATION_MODEL}
            EMBEDDING_URL: ${EMBEDDING_URL}
            EMBEDDING_MODEL: ${EMBEDDING_MODEL}
            WEAVIATE_HOST: ${WEAVIATE_HOST}
            WEAVIATE_PORT: ${WEAVIATE_PORT}
            WEAVIATE_GRPC_PORT: ${WEAVIATE_GRPC_PORT}
            WEAVIATE_USER_KEY: ${WEAVIATE_USER_KEY}
            HYBRID_SEARCH_ALPHA: ${HYBRID_SEARCH_ALPHA}
            MONGODB_URI: ${MONGODB_URI}
            MONGODB_INITDB_DEV_USERNAME: ${MONGODB_INITDB_DEV_USERNAME}
            MONGODB_INITDB_DEV_PASSWORD: ${MONGODB_INITDB_DEV_PASSWORD}
            SOURCE_DOWNLOAD_API_PATH_BASE: ${SOURCE_DOWNLOAD_API_PATH_BASE}
            SQL_HOST: ${SQL_HOST}
            SQL_PORT: ${SQL_PORT}
            SQL_USER: ${SQL_USER}
            SQL_PASS: ${SQL_PASS}
            SQL_DB: ${SQL_DB}
            SQL_METADATA_CACHE_PATH: ${SQL_METADATA_CACHE_PATH}
            SQL_REQUIRED_TABLES: ${SQL_REQUIRED_TABLES}
            SQL_ENDPOINT_ENABLED: ${SQL_ENDPOINT_ENABLED}
            AGENTIC_RAG_WORKFLOW_CONFIG_PATH: ${AGENTIC_RAG_WORKFLOW_CONFIG_PATH}
            SMART_SQL_WORKFLOW_CONFIG_PATH: ${SMART_SQL_WORKFLOW_CONFIG_PATH}
            PROMPTS_PATH: ${PROMPTS_PATH}
        volumes:
            - ./app:/app
            - ./assets:/app/assets
        command: 
            [
                "uvicorn",
                "main:app",
                "--host",
                "0.0.0.0",
                "--workers",
                "1",
            ]
        restart: always

    weaviate-ui:
        image: ${WEAVIATE_UI_IMAGE}
        build:
            context: ./weaviate_ui
            dockerfile: Dockerfile
        container_name: weaviate_ui
        ports:
            - "${WEAVIATE_UI_PORT}:8501"
        environment:
            - WEAVIATE_HOST=${WEAVIATE_HOST}
            - WEAVIATE_PORT=${WEAVIATE_PORT}
            - WEAVIATE_USER_KEY=${WEAVIATE_USER_KEY}
            - HYBRID_SEARCH_ALPHA=${HYBRID_SEARCH_ALPHA}
        volumes:
            - ./weaviate_ui/app.py:/app/app.py
        command: 
            [
                "streamlit",
                "run",
                "app.py",
                "--server.port=8501",
                "--server.address=0.0.0.0",
            ]
        restart: unless-stopped
