fastapi
uvicorn[standard]
python-multipart
websockets
regex
requests
text2num
evaluate
jiwer
rapidfuzz
httpx
pymongo[srv]
ollama
openai
langchain==0.3.27
langgraph
langchain-chroma
langchain-community
langchain-core==0.3.79
langchain-experimental
langchain-neo4j
langchain-openai
langchain-text-splitters
langsmith
langchain-weaviate
psycopg2-binary
pymysql
pyodbc
redis
