fastapi
uvicorn[standard]
python-multipart
websockets
regex
requests
text2num
evaluate
jiwer
rapidfuzz
httpx
pymongo[srv]
ollama
openai
langchain
langgraph
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-neo4j
langchain-openai
langchain-text-splitters
langsmith
langchain-weaviate